// Place all the styles related to the Species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search {
  padding-bottom: 2em;
}

.new_species {
  margin-top: 10em;
}
.edit_species {
  margin-top: 10em;
}

.animal {
  padding: 5em;
}

.item {
  width: 20%;
}

.footer {
  height: 100%;
  display: block;
}
