// Place all the styles related to the Species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_species {
  margin-top: 10em;
}
.edit_species {
  margin-top: 10em;
}

.animal {
  padding: 5em;
}

.all_of_them {
  padding: 5em;
}
