// Place all the styles related to the species_pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_species_pic {
  margin-top: 5em;
}
.container {
  margin-top: 5em;
}

.jumbotron {
  margin-top: 5em;
}
